<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Form | Weather System</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>

<div class="main_div">
    <div class="title">Login Form</div>

    <div class="social_icons">
        <a href="#"><i class="fab fa-facebook-f"></i> <span>Facebook</span></a>
        <a href="#"><i class="fab fa-twitter"></i> <span>Twitter</span></a>
    </div>

    <form th:action="@{/auth/login}" method="post">
        <div class="input_box">
            <input type="text" name="username" placeholder="Username" required>
            <div class="icon"><i class="fas fa-user"></i></div>
        </div>

        <div class="input_box">
            <input type="password" name="password" placeholder="Password" required>
            <div class="icon"><i class="fas fa-lock"></i></div>
        </div>

        <div class="option_div d-flex justify-content-between">
            <div class="check_box">
                <input type="checkbox" name="remember-me">
                <span>Remember me</span>
            </div>
            <div class="forget_div">
                <a th:href="@{/forgot-password}">Forgot password?</a>
            </div>
        </div>

        <div class="input_box button">
            <input type="submit" value="Login">
        </div>

        <div class="sign_up">
            Not a member? <a th:href="@{/auth/register}">Signup now</a>
        </div>
    </form>
</div>

</body>
</html>
