<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Cities | Admin Page</title>
</head>

<body>
<section th:replace="fragments :: navbar"></section>
<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-primary" th:href="@{/city/create}" th:text="'Add New City'"></a>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark text-center">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city : ${cities}">
            <td th:text="${city.id}">1</td>
            <td th:text="${city.name}"></td>
            <td class="text-center">
                <a class="btn btn-sm btn-warning me-1" th:href="@{/city/update/{id}(id=${city.id})}" th:text="'Edit'"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>
